.btn {
  width: 11.25em;
  padding: 1em 1.875em;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 0.05em;
}

.btn.primary {
  background-color: var(--pink);
}
.btn.secondary {
  background-color: var(--light-blue);
}
