.btn {
  width: 11.25em;
  padding: 1em 1.875em;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 0.05em;
}

.btn.primary {
  background-color: var(--pink);
}
.btn.secondary {
  background-color: var(--light-blue);
}

.btn.plus {
  margin-left: 1.5em;
  width: 4em;
  padding: 0;
  position: relative;
  border: 1px solid var(--dark-gray);
}

.btn.plus::before {
  content: url(./plus.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5em;
  height: 1.5em;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .btn.plus {
    margin-left: 0.5em;
  }
}
