.hero {
  padding: 10.63em 0 29em;
  width: 100%;
  background: url(../../materials/img/world.webp) no-repeat bottom / cover;
}

.title {
  font-family: "Glametrix";
  font-weight: 500;
  font-size: 6em;
  color: var(--white);
  line-height: 0.8;
}

.subtitle {
  margin: 100px 0 32px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

@media (max-width: 1440px) {
  .hero {
    padding: 10.63em 0 12.75em;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 10.62em 0 5.94em;
    background: url(../../materials/img/world-mobile.webp) no-repeat center / cover;
  }
  .title {
    font-size: 4em;
  }
  .subtitle {
    font-size: 1.25em;
    margin-bottom: 1.25em;
  }
}

@media (max-width: 425px) {
  .hero {
    padding: 7.75em 0 6.12em;
  }
  .subtitle {
    margin-top: 64px;
  }
}

@media (max-width: 375px) {
  .hero {
    padding: 7.75em 0 2.94em;
  }
}
