.footer {
  background: var(--dark-blue);
  font-weight: 300;
}

.rights {
  color: #fff;
  font-size: 1em;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 2.5em 0;
  }
  .rights {
    font-size: 0.8125em;
  }
}
