html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, input, select {
  font-family: inherit;
  border-radius: none;
  font-size: inherit;
  background: none;
  color: inherit;
  outline: none;
  border: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
@font-face {
  font-family: "Glametrix";
  src: url(./materials/font/GlametrixLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Glametrix";
  src: url(./materials/font/Glametrix.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Glametrix";
  src: url(./materials/font/GlametrixBold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(./materials/font/Inter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(./materials/font/Inter-Regular.ttf);
  font-weight: 400;
}

:root {
  --pink-hue: 330, 100%;
  --blue-hue: 236, 39%;
  --lavender-hue: 236, 28%;
  --green-hue: 76, 71%;

  /* --principles-pink: 31%;
  --principles-dark-pink: 27%;
  --principles-light-pink: 36%;

  --principles-blue: 29%;
  --principles-dark-blue: 25%;
  --principles-light-blue: 34%; */

  --pink: #e50074;
  --white: #f9f9f9;
  --lavender: #7b7fb5;
  --green: #96c121;
  --black: #07070f;

  --light-blue: #424895;
  --blue: #21244b;
  --dark-blue: #14162d;

  --light-gray: #ecedf4;
  --gray: #f3f5f7;
  --dark-gray: #d9daea;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
